version: "3.8"

services:
  agent-sandbox:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pycardgolf-dev-container
    volumes:
      - ./:/app
    stdin_open: true
    tty: true
    working_dir: /app
